API_ID= 25742938
API_HASH= b35b715fe8dc0a58e8048988286fc5b6
BOT_TOKEN=7737579995:AAHzTgISMQhZuEasuOBEm6aTn5mqes-f0aQ
OWNER_ID=7009601543
MONGO_DB_URI=mongodb+srv://BADMUNDA:BADMYDAD@badhacker.i5nw9na.mongodb.net/
